{% if h.lang() == 'fr' %}
<div class="pagedetails container" style="background-color: white;">

<div class="row">

<div class="col-sm-6 col-md-5 col-lg-4">

<a href="https://www.asc-csa.gc.ca/fra/formulaires/demande-information.asp" class="btn btn-default">Signaler un problème sur cette page</a>

</div>

<dl id="wb-dtmd">
<dt>Date de modification&#160;:&#32;</dt>
<dd><time property="dateModified">2021-05-04</time></dd>
</dl>

</div>
</div>
{% else %}
<div class="pagedetails container" style="background-color: white;">

<div class="row">

<div class="col-sm-6 col-md-5 col-lg-4">

<a href="https://www.asc-csa.gc.ca/eng/forms/information-request.asp" class="btn btn-default">Report a problem on this page</a>

</div>
<br>
<dl id="wb-dtmd">
<dt>Date modified:&#32;</dt>
<dd><time property="dateModified">2021-05-04</time></dd>
</dl>

</div>
</div>
{% endif %}
